@import "tailwindcss";

@theme {
  --color-mahogany: #490000;
  --color-mahogany-light: #6b0000;
  --color-champagne: #f6ddbe;
  --color-champagne-dark: #e8c99a;
  --color-offwhite: #faf8f5;
  --color-dark: #111110;
  --color-dark-2: #1c1c1a;
  --color-muted: #666666;

  --font-montserrat: var(--font-montserrat-var);
  --font-playfair: var(--font-playfair-var);
}

html { scroll-behavior: smooth; }

body {
  background: #faf8f5;
  color: #111110;
  overflow-x: hidden;
}
